SEPOLIA_RPC_URL=
MAINNET_RPC_URL=
DEPLOY_RPC_URL=

ETHERSCAN_API_KEY=

PRIVATE_KEY=0x

FACTS_REGISTRY_ADDRESS=0x
STARKNET_CORE_L1_ADDRESS=0xE2Bb56ee936fd6433DC0F6e7e3b8365C906AA057 # Sepolia

DEPLOYED_CONTRACT_ADDRESS=0x
